@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #222;
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 30px 30px 30px;
  gap: 10px;
}

h1 {
  font-size: 56px;
  width: 100%;
  text-align: start;
  color: #fff;
}

.reg {
  z-index: 100;
  position: relative;
  cursor: pointer;
  transition: color .3s;
}

.reg::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #008855;
  z-index: -100;
}

.reg:hover {
  color: #00ffa2;
}

.log {
  z-index: 100;
  position: relative;
}

.log::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #008855;
  z-index: -100;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

button {
  width: 200px;
}